<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ban</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>

    <h1>Ban</h1>

    <div class="container_">

        <form method="POST" action="/addbanned">

            <label for="Pseudo">Pseudo :</label><br>

            <input type="text" id="Pseudo" name="Pseudo"><br><br>
            
            <button id = "Ban" type = "submit">Bannir</button>

        </form>

    </div>

    <script src="{{url_for('static', filename='JS.js')}}"></script>

</body>

</html>