<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Chat</h1>
    <div class="container_">
        <p id="Chat">Chargement du chat en cours...</p>
    </div>
    <textarea id="messageInput" placeholder="Écrivez votre message..." rows="4" cols="50"></textarea><br>
    <button id="Send">Envoyer</button>
    <script src="{{url_for('static', filename='JS.js')}}"></script>
</body>
</html>
