<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pic machine</title>

    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">

    <link rel="icon" type = "image/x-icon" href="{{url_for('static', filename = 'favicon.ico')}}">

</head>

<body>

    <div class="container">

        <h1>Générateur de Memes</h1>

        <button>Générer</button>

        <img id = "NewImage" src = "{{url_for('static', filename = 'Black.jpg')}}" alt="Meme généré">

        <script src = "{{url_for('static', filename = 'JS.js')}}"></script>

    </div>

</body>

</html>